 @model BuberBreakfast.DTO.BreakFastDto

@{
    Layout = "_Layout";
    var title = "Create BreakFast";
    ViewData["Title"] = title;
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<h2>@title</h2> 

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    <div class="mb-3">
        <label asp-for="BreakFastId"></label>
        <input asp-for="BreakFastId" class="form-control" />
        <span asp-validation-for="BreakFastId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="StartDateTime"></label>
        <input asp-for="StartDateTime" class="form-control" />
        <span asp-validation-for="StartDateTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="EndDateTime" class="form-label"></label>
        <input asp-for="EndDateTime" class="form-control" />
        <span asp-validation-for="EndDateTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<span>
    <a asp-action="Index">Breakfasts</a>
</span>


@* @{
    ViewData["Title"] = "Create BreakFast";
    var status = ViewBag.Status == false ? "alert-danger" : "alert-success";
}

@if (ViewBag.Message != null)
{
    <div class='alert @status alert-dismissible' BreakFast="alert">
        @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center">

    <form asp-action="Create">
        <div class="col-md-12 mb-2">
            <label for="BreakFastId" class="form-label">BreakFastId:</label>
            <input type="number" class="form-control" placeholder="Enter Id" name="BreakFastId">
        </div>

        <div class="col-md-12 mb-2">
            <label for="Name" class="form-label">Name:</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="Name">
        </div>

        <div class="col-md-12 mb-2">
            <label for="StartDateTime" class="form-label">StartDateTime:</label>
            <input type="datetime-local" class="form-control" placeholder="Enter StartDateTime" name="StartDateTime">
        </div>

        <div class="col-md-12 mb-2">
            <label for="EndDateTime" class="form-label">EndDateTime:</label>
            <input type="datetime-local" class="form-control" placeholder="Enter EndDateTime" name="EndDateTime">
        </div>

        <div class="col-md-12 mb-2">
            <label for="Description" class="form-label">Description:</label>
            <textarea class="form-control" placeholder="Enter Description" name="Description"></textarea>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Create BreakFast</button>
        </div>
    </form>
</div>
<span>
    <a asp-action="Index">Breakfasts</a>
</span> *@