@model BuberBreakfast.DTO.BreakFastDto
<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.BreakFastId</td>
                <td>@Model.Name</td>
                <td>@Model.Description</td>
            </tr>

        </tbody>
    </table>

</div>